.AppHeader {
    height: 80px;
    width: 100%;

    background: #BCCEF8;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

    box-sizing: border-box;
    padding: 10px 50px;


    input {
        width: 500px;
        height: 50px;

        background: #98A8F8;

        margin-left: auto;
        margin-right: 70px;

        box-sizing: border-box;
        padding-inline: 50px;

        border-radius: 60px;
        border: none;
    }

    input::placeholder {
        color: #FAF7F0;
        font-weight: normal;
    }

    input:focus {
        outline: none;
    }

    button {
        height: 50px;

        box-sizing: border-box;
        background: #98A8F8;
        border-radius: 60px;
        border: none;

        font-weight: bold;
        color: #FAF7F0;

        transition: background-color 0.3s;

        padding: 12px 40px;
        margin-bottom: 2px;

    }

    button:active, #login-button:active, #logout-button:active, #register-button:active {
        margin-bottom: 0;
        margin-top: 2px;
        transition: 0.01s;
    }

    button.Active {
        background: #617CFF;
    }

    #login-button, #logout-button, #register-button, #user-button {
        background: #617CFF;
    }

    #user-button {
        width: 200px;
    }

    .UserPopup {
        z-index: 999;

        position: absolute;
        display: flex;
        flex-direction: column;
        right: 20px;
        top: 80px;

        button {
            border-radius: 0;
            margin: 0;
            transition: 1s;

        }

        button:last-child {
            border-radius: 0 0 20px 20px;
        }

        button:active {
            background: #617CFF;
            transition: 0.05s;
        }
    }



    .SearchPopup {
        z-index: 999;

        width: 450px;

        max-height: 500px;

        overflow-y: auto;

        background: #FAF7F0;

        position: absolute;
        display: flex;
        flex-direction: column;

        box-sizing: border-box;
        padding: 10px 10px;

        gap: 5px;

        right: 375px;
        top: 65px;

        border: 2px solid #7F7F7F;
        border-width: 1px 2px 2px 2px;

        > .Book {
            display: flex;
            justify-content: start;
            align-items: center;

            box-sizing: border-box;
            padding: 5px 20px 5px 30px;

            color: black;
            font-size: 14pt;

            border-radius: 10px;

            text-align: start;

        }

        > .Book:hover {
            background: #d7d7d7;
        }

        > .Book {
            background: transparent;
            border: none;
            transition: 0.02s;
        }
    }

    .SearchPopup.Shifted {
        right: 555px;
    }

}